<%= turbo_frame_tag dom_id(question) do %>
  <div data-controller="question-submission">
    <div class="mb-8">
      <div data-question-target="displayContent">
        <h3 class="text-lg font-medium mb-2"><%= question_counter + 1 %>. <%= question.content %></h3>
        <% if Current.user.student? %>
          <%= form_with url: check_answer_assignment_question_path(@assignment, question),
                      method: :post,
                      data: { 
                        question_submission_target: "form",
                        turbo: true
                      } do |f| %>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
              <% question.answers.each_with_index do |answer, index| %>
                <%= render "components/answer_choice/answer_choice",
                    letter: ('A'..'Z').to_a[index],
                    text: answer.text,
                    selected: @student_response&.answer_text == answer.text,
                    name: "answer",
                    value: answer.text,
                    disabled: false %>
              <% end %>
            </div>

            <div data-question-submission-target="spinner" class="hidden">
              <%= render "questions/spinner" %>
            </div>

            <%= turbo_frame_tag dom_id(question, :feedback) do %>
              <% if @student_response %>
                <%= render "questions/feedback", 
                    question: question,
                    correct: @student_response.correct,
                    explanation: question.explanation %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            <% question.answers.each_with_index do |answer, index| %>
              <%= render "components/answer_choice/answer_choice",
                  letter: ('A'..'Z').to_a[index],
                  text: answer.text,
                  selected: answer.is_correct,
                  name: "answer_#{question.id}",
                  value: answer.text,
                  disabled: true %>
            <% end %>
          </div>

          <% if Current.user.teacher? %>
            <div class="mt-4 flex gap-4">
              <%= secondary_button "Edit",
                  href: edit_assignment_question_path(@assignment, question),
                  data: { turbo_frame: dom_id(question) },
                  size: :small %>
                  
              <%= primary_button "Regenerate",
                  data: { 
                    turbo_method: :post,
                    question_counter: question_counter 
                  },
                  href: regenerate_assignment_question_path(@assignment, question),
                  size: :small %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>