<!DOCTYPE html>
<html>
<head>
  <%= render "shared/head" %>
</head>

<body class="bg-background text-foreground">
  <%= render "shared/header", show_back_button: content_for?(:show_back_button) %>

  <main class="container mx-auto mt-28 px-5 max-w-assignment">
    <%= yield %>
  </main>

  <% if Rails.env.development? %>
    <script>
      console.log('Session ID:', '<%= cookies.encrypted[:current_session_id] %>');
      console.log('Authenticated:', '<%= authenticated? %>');
      console.log('Current User:', '<%= Current.user&.id %>');
    </script>
  <% end %>
</body>
</html>
