<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Spellbooks Rails Redux" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%= yield :head %>
  
  <!-- Fira Sans font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="bg-background text-foreground">
  <%= render "shared/header", show_back_button: false %>

  <!-- Main content area with wider max-width for dashboard -->
  <main class="container mx-auto mt-28 px-5 max-w-7xl">
    <%= yield %>
  </main>

  <%= render 'shared/flash_messages' %>
  <div id="toasts" class="fixed bottom-4 right-4 z-50"></div>
</body>
</html>
